html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    padding: 0%;   
    font-size: 18px;
}
hr {
    width:70%;
}
.apple {
    background-size: cover;
    max-width: 100%;
    position: relative;
}
.info {
    margin: 0 35%;
    width: 35%;
}
.text {
    margin: 50px 200px;
}
p {
    text-align: left;
}
h1 {
    font-size: 72px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul li {
    list-style: none;
}  
ul li:before {
   content: '-';
   margin-right: 5px;
}